@model Domain.App.UserTrigger

@{
    ViewData["Title"] = "Edit";
}

<!-- Edit</h1>

<h4>UserTrigger</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TriggerId" class="control-label"></label>
                <select asp-for="TriggerId" class="form-control" asp-items="ViewBag.TriggerId"></select>
                <span asp-validation-for="TriggerId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AppUserId"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
